<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Searchbar -->
<ion-searchbar  [(ngModel)]="foodName"></ion-searchbar>
<ion-button expand="block" (click)="search(foodName)" [disabled]="loading || foodName.length < 1">
  <span *ngIf="loading">Loading</span>
  <span *ngIf="!loading">Search</span>
</ion-button>

<ion-list *ngIf="list.length">
  <ion-list-header> Items that match </ion-list-header>
  <ion-item *ngFor="let item of list">
    <ion-label>
      {{ item.lowercaseDescription | titlecase }}
      <span 
        style="cursor: pointer; font-size: 10px; color: red; " 
        *ngIf="!(checkIfItsInFavList(item.fdcId))" 
        (click)="addToFavs(item.lowercaseDescription, item.fdcId)">
          <ion-icon name="heart-outline"></ion-icon>
          Click to add in favs
        </span>
      <span 
        style="cursor: pointer; font-size: 10px;" 
        *ngIf="checkIfItsInFavList(item.fdcId)" 
        (click)="deleteFav(item.fdcId)" >
          <ion-icon name="heart-dislike-outline"></ion-icon>
          Click to remove from favs
        </span>
    </ion-label>
    <ion-note slot="end" color="primary">
      <!-- <a routerDirection="root" [routerLink]="['../basic-report/', item.fdcId]" > -->
        <a style="cursor: pointer" (click)="goToBasicReport(item.fdcId)">
        Go to Basic Report 
      </a>
    </ion-note>
  </ion-item>
</ion-list>

<ion-content *ngIf="list.length == 0">
  <p>
    No Food is matching this search
  </p>
</ion-content>

</ion-content>
